<!DOCTYPE html>
<html>
  <head>
    <title>Laura's Pet Services</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script src = "https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <section class = "section">
         <div class = "container">

            <section class = "hero is-primary is-medium">
               <!-- Hero head at the top -->
               <div class = "hero-head">
                  <nav class = "navbar is-dark">
                     <div class = "container">
                        <div class = "navbar-brand">
                           <a class = "navbar-item">
                           	  <%= image_tag "paws.jpg" %>
                           </a>
                        </div>
                        
                        <div id = "navbarmenu" class = "navbar-menu">
                           <div class = "navbar-start">
	                           	<div class="navbar-item has-dropdown is-hoverable">
	                         		<a class="navbar-link">
	          							Services
	        						</a>
	        						<div class = "navbar-dropdown">
	        						  <% @animals.each do |animal|  %>
	        						  		<%= link_to animal.breed, animal, class: "navbar-item has-text-black" %>
	        						  <% end %>
	        						</div>
	                           	</div>
	                           	<div class="navbar-item">
	                           		About me  
	                           	</div>
                 		        <div class="navbar-item">
	                           		Tarifs
	                           	</div>
                           </div>
                        </div>
                        
                     </div>
                  </nav>
               </div>
               
               <!-- Hero content in the middle -->
               <div class = "hero-body">
                  <div class = "container has-text-centered">
                     <p>
                         <%= yield %>
                     </p>
                  </div>
               </div>
               
               <!-- Hero footer at the bottom -->
               <div class = "hero-foot is-info">
                  <nav class = "tabs">
                     <div class = "container">
                        <ul>
                           <li class = "is-active"><a>Help</a></li>
                           <li><a>FAQ's</a></li>
                           <li><a>Privacy</a></li>
                           <li><a>Feedback</a></li>
                           <li><a>Terms</a></li>
                        </ul>
                     </div>
                  </nav>
               </div>
               
            </section>
         </div>
      </section>
  </body>
</html>
